@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Josefin+Sans:wght@600&family=Oswald:wght@600&family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url(//db.onlinewebfonts.com/c/749ba57b431f4eba8b31eb57d5aab83e?family=Brandon+Text+Medium);

::selection {
  text-shadow: 3px 3px 10px #fff;
  background-color: #a9aab2;
}
/* -------------------Scrollbar----------------------- */
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  background-color: #b8b8b8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 2px 2px 5px #b8b9be, -3px -3px 7px #fff !important;
  background-color: #e6e7ee;
}
/* -------------------Message Scrollbar----------------------- */
/* .msg::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  background-color: #b8b8b8;
}

.msg::-webkit-scrollbar {
  width: 10px;
}

.msg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  box-shadow: inset 2px 2px 5px #b8b9be, -3px -3px 7px #fff !important;
  background-color: #e6e7ee;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.assistant_mobile {
  padding: 1rem 3rem !important;
}
.error {
  font-size: 3rem !important;
  letter-spacing: 2px;
}
.error_head {
  margin: 4rem 1rem;
  margin-top: 10rem;
  font-size: 2rem !important;
}
html {
  font-size: 62.5%;
}
.transition {
  transition: 0.4s;
}

body {
  overflow-x: hidden;
  font-family: "poppins";
}
.pop {
  font-family: "Poppins", sans-serif;
}
.com {
  font-family: "Comic Neue", cursive;
}
.os {
  font-family: "Oswald", sans-serif;
}

.clearButton {
  cursor: pointer;
  background: transparent;
  display: grid;
  place-items: center;
  padding: 1rem 2rem;
}
.jsf {
  font-family: "Josefin Sans";
}
.speaker {
  font-size: 2.8rem;
  cursor: pointer;
  float: right;
  border-radius: 50%;
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dustbin {
  font-size: 2.1rem;
  cursor: pointer;
  float: right;
  border-radius: 410px;
  padding: 1rem 1rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dustbin:active {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
}
.assistant_mobile {
  min-height: 100vh;
  margin: auto;
  position: relative;
}
.app_info {
  font-size: 2.2rem;
  margin: 2.8rem 4rem !important;
  text-align: justify;
}
.msg {
  background: #e6e7ee !important;
  border: none;
  padding: 2rem 1.5rem !important;
}
.msg p {
  font-size: 2.2rem;
}
.text-color {
  color: #31344b;
}
.brandon {
  font-family: "Brandon Text Medium , poppins" !important;
}
.heading_voice {
  line-height: 1.3;
  font-size: 5.5rem;
  font-weight: 900;
  font-family: "Brandon Text Medium , poppins" !important;
  margin: 0 0 0 5rem;
}
.heading_voice span {
  font-size: 6rem !important ;
}
.inner_main strong {
  margin-left: 3rem !important;
  font-size: 2em;
  letter-spacing: 0.4px;
}
/* --------------------------Send Button ---------------------- */
/* ----------------------------main csss-------------------- */
.chatAssitant {
  height: 100vh !important;
  position: relative;
  /* margin-top:2rem ; */
}
.bottom {
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  background-color: #e6e7ee;
  padding: 3rem 10rem;
}
.errorMessage{
  /* position: fixed; */
  /* top: 100rem; */
}
.bottom .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom .input-group input {
  max-width: 80rem;
  caret-color: blue;
  
}
.bottom .input-group .sendButton {
  outline: none;
  border: none;
  background: #e6e7ee;
  cursor: pointer;
  border-radius: 50px;
}
.bottom .microphone {
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top-left-radius: 15%!important; */
}
.chatAssitant .bottom .input-group .sendButton:hover {
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff !important;
}
.rotate__Wrapper-sc-1b62bh9-0 {
  margin: auto;
  padding: 1rem 4rem !important;
}
.chatAssitant .response {
  padding: 3rem 20rem 15rem 20rem;
  max-height: 90vh;
  overflow-y: scroll;
}
.chatAssitant .response .bot {
  display: flex;
  padding: 1rem 2rem;
}
.chatAssitant .response .user {
  display: flex;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.chatAssitant .response .user img{

  height: 3.5rem;
  border-radius: 50%;
  margin: 0 1rem;
}
.chatAssitant .response .bot img{
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 1rem;
}
.jjTGQy {
  padding: 1rem 0;
}
/* -------------------------------------------------------------- */


@media screen and (max-width: 450px) {
  /* ------------------main css------------- */
  .bottom{
    padding: 1rem .5rem;
  }
  .bottom .input-group{
    /* flex-direction: column; */
    padding: 1rem;
  }
  .bottom .input-group input {
    margin: 0 auto;
    width: 98%;
  }
  .chatAssitant .response .user {
    padding: 1rem 0rem;
    margin: 2rem .4rem!important;
  }
  .chatAssitant .response .bot {
    padding: 1rem 0rem;
    margin: 2rem .4rem!important;
  }
  .response{
    padding: 0 0 20rem 0!important;
  }
  .bottom .microphone{
    display: none;
  }
  .bottom .sendButton{
    margin: 1rem 0;
    box-shadow:2px 2px 5px #b8b9be, -3px -3px 7px #fff !important;
  }
}

