@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.previewContainer {
  position: relative;
}
.previewContainer h4 {
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}
.rangeslider-horizontal {
  height: 10px;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff !important;
  border-radius: 10px;
  cursor: pointer;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 15px;
  height: 15px;
}
.rangeslider {
  user-select: none !important;
}
.rangeslider-horizontal .rangeslider__fill {
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff !important;
  border-radius: 10px;
}
.profileImage {
  padding: 1rem;
  position: relative;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.profileImage img {
  padding: 1rem;
  border-radius: 100%;
  height: 13rem;
  width: 13rem;
}
.resume_left_side {
  position: relative;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 4px #d0d3dc;
}
.resume_about {
  position: relative;
  margin: 3rem 2rem;
  text-align: justify;
  font-size: 1.1rem;
  /* background-col or: red; */
  min-height: 12rem;
}
.resume_about p {
  position: absolute;
}
.resume_skills {
  position: relative;
  margin: 0rem 2rem;
  text-align: justify;
  font-size: 1.1rem;
}
.resume_skills .innerSkills {
  /* position: absolute; */
  width: 100%;
}
h1 {
  font-size: 4rem !important;
}
.resume_contact {
  position: relative;
  display: flex;
  padding: 2rem 0rem;
  flex-direction: column;
  margin: 0rem 2rem;
  font-size: 1.1rem;
  width: 90%;
}
.resume_contact i {
  margin: 0.7rem 0rem;
  border-radius: 50%;
  display: flex;
  word-wrap: break-word;
}
.resume_right_side {
  padding: 5rem 2rem;
}
.headerName {
  margin-top: 2rem;
  position: relative;
  padding: 1rem 2rem;
  max-height: 16rem;
  min-height: 16rem;
}
.fullName {
  position: relative;
  width: 100%;
}
.resume_fname {
  width: 100%;
  word-wrap: break-word;
  font-size: 4rem;
  color: #576681;
  line-height: 0.8;
  letter-spacing: 2px;
}
.resume_lname {
  font-size: 4rem;
  font-weight: bolder;
  color: #576681;
  letter-spacing: 2px;
}
.resume_profession {
  font-size: 1.8rem;
  color: #616c80;
}
.resume_education {
  padding: 0 2rem;
}
.resume_school {
  position: relative;
  margin: 1rem 0;
}
.resume_school span {
  font-size: 1.4rem;
  color: #576681;
  margin: 0 1rem;
  text-transform: capitalize;
}
.holder {
  display: flex;
  flex-direction: column;
}
/* -------------------------------------------------------------------- */
label {
  font-size: 1.2rem !important;
  font-weight: bold;
  margin-bottom: 0 !important;
  margin-top: 1rem;
}

.form-control {
  height: 42px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding-left: 1rem;
  background-color: #e6e7ee;
  border-bottom: 2px solid #576681;
  border-radius: 0;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #e6e7ee;
}

.form-inner-row {
  display: flex;
  justify-content: space-between;
}

.form-inner-row div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-inner-row .form-control {
  width: 100%;
}

.next-btn {
  height: 42px;
  width: 120px;
  margin: 1rem 0;
  font-size: 1.2rem !important;
}

.form-control:focus {
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff !important;
  border-radius: 4px;
  font-size: 1.5rem;
}
